@model Project4.Models.Teacher

@{
    ViewBag.Title = "AJAX UPDATE";
}
@{

    
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teacher</a>
    </nav>
    <h2>Update @Model.Teacherfname @Model.Teacherlname</h2>
    @{



    }
    <div class="inputrow">
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.Teacherfname" />

    </div>
    <div class="inputrow">
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.Teacherlname" />

    </div>
    <div class="inputrow">
        <label for="Hiredate">HireDate :</label>
        <div>
            <textarea id="Hiredate" name="Hiredate">@Model.Hiredate</textarea>
        </div>
    </div>
    <div class="inputrow">
        <input type="submit" value="Update Teacher" />
    </div>
    @{
        //AddTeacher() is a JS method defined in /Scripts/authors.js
    }
    <button onclick="UpdateTeacher(@Model.Teacherid);">Update Teacher</button>
</div>